<link rel="stylesheet" href="/css/cart.css">
<main class="cart-page">
  <h1>Cart</h1>
  <div class="cart-container">
    <!-- Left: Product List -->
    <div class="cart-items">
      <% cartItems.forEach(item => { %>
        <div class="cart-item">
          <div class="cart_item_image_container">
            <img src="<%= item.image %>" alt="<%= item.name %>" class="cart-item-image">
          </div>
          <div class="cart-item-details">

            <div class="cart_item_name">
              <h3>Product Name</h3>
              <p><%= item.name %></p>
            </div>
            <div class="cart_item_quantity">
              <h3>Product count</h3>
              <p><%= item.quantity %></p>
            </div>
            <div class="cart_item_weight">
              <h3>Weight lbs</h3>
              <p><%= item.weight %></p>
            </div>
            <div class="cart_item_price">
              <h3>Price</h3>
              <p>$<%= item.price %></p>
            </div>
          </div>
        </div>
      <% }) %>

       <!-- Right: Order Summary -->
       <div class="order-summary">
        <h2>Order Summary</h2>
        <div class="order_summary_subtotal">
          <p>Subtotal</p>
          <span>$<%= cartItems.reduce((sum, item) => sum + (item.price * item.quantity), 0).toFixed(2) %></span>
        </div>
        <div class="order_summary_price">
          <p>Shipping</p>
          <span>$0.00</span>
        </div>
        <div class="order_summary_tax">
          <p>Tax</p>
          <span>$0.00</span>
        </div>
        <hr>
        <div class="order_summary_total">
          <p><strong>Total</strong></p>
          <b>$<%= cartItems.reduce((sum, item) => sum + (item.price * item.quantity), 0).toFixed(2) %></b>
        </div>
        <button class="payment-button">Proceed to Payment</button>
      </div>
    </div>
  