<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title%></title>
</head>
<body>
  <!-- hero area bgns here -->
  <div class="hero_banner">
    <img src="/assets/hero-banner.jpg" alt="">

    <div class="hero_banner_arrow">
      <div class="left">
        <span class="material-symbols-outlined">chevron_left</span>
      </div>
      <div class="right">
        <span class="material-symbols-outlined">chevron_right</span>
      </div>
    </div>
  </div>

  <!-- hero area ends here -->

  <!-- main body -->
   

   <!-- main ends here -->

   <!-- cta area bns gere-->
    <div class="cta_info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consectetur iste ipsum, soluta officia laboriosam,
        dolorum aspernatur facilis corporis nostrum exercitationem totam eum? Cumque assumenda asperiores commodi illum
        debitis maiores.</p>
    </div>


    <div class="cta_container">
      <div class="cta_content">
        <h2>Want 10% off your first order?</h2>
        <p>Enter your email below to <span>get 10%</span> <br> off your first order</p>
        <form action="">
          <input type="text" placeholder="Email Address">
          <button class="btn view_btn">Submit</button>
        </form>
      </div>
    </div>

    <div class="flash-sales-container">
      <h1>Flash Sales</h1>
      <div class="products-grid">
        <% items.forEach(item => { %>
          <div class="product-card">
            <div class="product-image">
              <img src="<%= item.image %>" alt="<%= item.name %>">
              <button class="wishlist-btn">&#x2661;</button>
            </div>
            <div class="product-details">
              <h3><%= item.name %></h3>
              <a href="/cart">
              <button class="add-to-cart-btn">Add to Cart</button>
            </a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <!--View All button -->
    <div class="view-all-btn-container">
      <a href="/shop?category=All">
        <button class="view-all-btn">View All Products</button>
      </a>
    </div>
    <!-- banner -->
     <section>
     <div class="banner-container" style="background-image: url('<%= backgroundImage %>');">
    <div class="overlay"></div>
    <div class="banner-content">
      <a href="/shop">
      <h3 class="category-title">Categories</h3>
    </a>
      <h1 class="banner-title">Enjoy Your Favorite Juice<br>at low prices</h1>
      <a href="<%= buttonLink %>" class="buy-now-btn">Buy Now</a>
    </div>
    <div class="product-image-container">
      <img src="<%= productImage %>" alt="Juice" class="product-image">
    </div>
  </div>
</section>


<!--View all products grid-->

<div class="product-grid-container">
  <h2 class="section-title">Explore Our Products</h2>
  <div class="product-grid">
    <% gridProducts.forEach(gridProduct => { %>
      <div class="products-card">
        <div class="product-images-container">
          <img src="<%= gridProduct.image %>" alt="<%= gridProduct.name %>" class="product-images">
          <button class="wishlist-btns">&#x2661;</button>
        </div>
        <div class="products-info">
          <p class="products-name"><%= gridProduct.name %></p>
          <p class="products-price">GH₵<%= gridProduct.price.toFixed(2) %></p>
          <a href="/cart">
          <button class="add-to-cart-btns">Add to Cart</button>
          </a>
        </div>
      </div>
    <% }); %>
  </div>
</div>

    <!-- advantage  -->

    <div class="gallery_container">
      <div class="gallery_text">
        <h2 class="main">Our Gallery</h2>
      </div>
    
      <div class="gallery_related_images">
        <div class="related_images">
          <img src="/assets/tes-img1.jpg" alt="" width="330px">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img9.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img2.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img3.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img4.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img5.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img6.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img7.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img8.jpg" alt="">
        </div>
      </div>
    </div>


</body>
</html>